@import "../../sass/breakpoints.scss";

.root {
  font-family: ABCSans, sans-serif;
  text-align: center;
  min-height: 200px;

  h3 {
    font-size: 18px;
    text-align: center;
    color: #1b1a65;
    margin-bottom: 2em;
  }

  .container {
    margin: auto;
    max-width: 550px;
  }

  .opinions {
    display: flex;
    font-size: 11px;
    font-weight: 900;
    color: #a53b54;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em;

    @include for-size(tablet-portrait-up) {
      align-items: flex-end;
      margin-bottom: 1.5em;
    }

    .opinion {
      width: 76px;
      transform: rotate(-90deg);
      text-align: left;

      @include for-size(tablet-portrait-up) {
        text-align: center;
        transform: none;
      }
    }
  }

  .by-group {
    text-align: left;
    color: #1b1a65;
    font-size: 14px;
    font-weight: bold;
    // min-height: 30px;
  }

  .row {
    position: relative;
    display: block;
    min-height: 70px;

    .layer {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .relative-layer {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .dot-container {
      width: 76px;
      text-align: center;
      display: flex;
      align-items: center;

      .dot {
        margin: auto;
        width: 12px;
        height: 12px;
        background-color: #e55e7a;
        border-radius: 50%;
      }

      .value {
        margin: auto;
        font-weight: 900;
        font-size: 12px;
        color: #a53b54;
        padding-left: 2px;
      }
    }

    .annotation-container {
      position: absolute;
      // background: rgba(255, 255, 255, 0.3);
      // width: 10px;
      // height: 10px;
      top: 50%;
      margin-top: -5px;
      // border-top: 1px solid #A73953;
      // border-left: 1px solid #A73953;
      // border-right: 1px solid #A73953;

      svg {
        g {
          stroke: #a73953;
        }
      }

      .annotation-value {
        display: block;
        font-size: 11px;
        height: 16px;
        font-weight: 900;
        color: #a53b54;
        position: relative;
        // top: 4px;
        white-space: nowrap;
      }
    }

    .line {
      position: absolute;
      height: 4px;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: rgba(255, 255, 255, 0.3);
      z-index: -1;
    }
  }
}

.blue {
  .opinions {
    color: #1064a1;
  }

  .row {
    .dot-container {
      .dot {
        background-color: #237bc0;
      }

      .value {
        color: #1064a1;
      }
    }

    .annotation-container {
      .annotation-value {
        color: #1064a1;
      }

      svg {
        g {
          stroke: #1064a1;
        }
      }
    }
  }
}

.orange {
  .opinions {
    color: #b52d1f;
  }

  .row {
    .dot-container {
      .dot {
        background-color: #d4442e;
      }

      .value {
        color: #b52d1f;
      }
    }

    .annotation-container {
      .annotation-value {
        color: #b52d1f;
      }

      svg {
        g {
          stroke: #b52d1f;
        }
      }
    }
  }
}

.green {
  .opinions {
    color: #1a6b6b;
  }

  .row {
    .dot-container {
      .dot {
        background-color: #199489;
      }

      .value {
        color: #1a6b6b;
      }
    }

    .annotation-container {
      .annotation-value {
        color: #1a6b6b;
      }

      svg {
        g {
          stroke: #1a6b6b;
        }
      }
    }
  }
}
