@import "../../sass/breakpoints.scss";

.root {
  text-align: center;
  min-height: 200px;

  h3 {
    font-size: 18px;
    text-align: center;
    color: #1b1a65;
    margin-bottom: 2em;
  }

  .container {
    margin: auto;
    max-width: 550px;
  }

  .opinions {
    display: flex;
    font-size: 11px;
    font-weight: 900;
    color: #a53b54;
    justify-content: space-between;
    align-items: center;
    font-family: ABCSans, sans-serif;
    margin-bottom: 1em;

    @include for-size(tablet-portrait-up) {
      align-items: flex-end;
    }

    .opinion {
      width: 76px;
      transform: rotate(-90deg);
      text-align: left;

      @include for-size(tablet-portrait-up) {
        text-align: center;
        transform: none;
      }
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    position: relative;

    .dot-container {
      width: 76px;
      text-align: center;
      min-height: 40px;
      display: flex;
      align-items: center;

      .dot {
        margin: auto;
        width: 12px;
        height: 12px;
        background-color: #e55e7a;
        border-radius: 50%;
      }
    }
    .line {
      position: absolute;
      height: 4px;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: rgba(255, 255, 255, 0.3);
      z-index: -1;
    }
  }
}
