.root {
  text-align: center;
  font-family: ABCSans, sans-serif;

  p {
    font-size: 1.125rem;
    line-height: 1.666666667;
    margin-top: 0;
    margin-bottom: 2.25rem;
  }
}

:global {
  // Artificially bump header animation up
  .Header-content {
    padding-top: 0 !important;
  }

  .u-dropcap ~ * {
    transition: opacity 1.5s;
    opacity: 1;
  }

  .hide-after ~ :not(.interactivefooter) {
    opacity: 0;
    overflow: hidden;
    height: 0;
    margin: 0;
    padding: 0;
  }

  // .opacity-none ~ :not(.interactivefooter) {
  //   opacity: 0;
  // }

  .interactivefooter {
    padding-top: 50px;
    min-height: 100px;
  }

  .Main {
    p {
      z-index: 0;
      color: rgb(27, 26, 101);
    }

    h1, h2 {
      color: rgb(27, 26, 101) !important;
    }
  }

  .Header {
    background-color: transparent !important;
  }


}
