.root {
  text-align: center;
  font-family: ABCSans, sans-serif;

  p {
    font-size: 1.125rem;
    line-height: 1.666666667;
    margin-top: 0;
    margin-bottom: 2.25rem;
  }
}

:global {
  // Artificially bump header animation up
  .Header-content {
    padding-top: 0 !important;
  }

  .hide-after ~ :not(.interactivefooter) {
    display: none;
  }

  .interactivefooter {
    min-height: 300px;
  }
}
