.root {
  overflow: hidden;

  .face {
    svg {
      max-width: 200px;
    }
  }

  .cloud {
    position: fixed;
    overflow: visible;
    z-index: -1;

    svg {
      transform: translate(-50%, -50%);
    }
  }
}
