.root {
  overflow: hidden;

  .face {
    svg {
      max-width: 200px;
    }
  }

  .cloud {
    position: fixed;
    top: 100px;
    left: 100px;
    overflow: visible;
    // height: 200px;
    width: 400px;
    z-index: -1;

    svg {
      max-width: 400px;
    }
  }
}
