.root {
  overflow: hidden;

  .face {
    svg {
      max-width: 200px;
    }
  }

  .cloud {
    position: fixed;
    overflow: visible;
    // width: 400px;
    z-index: -1;

    svg {
      // max-width: 400px;
    }
  }
}
