.root {
  .container {
    padding-bottom: 2em;
    margin: auto;
    max-width: 850px;
  }
  .display-none {
    display: none;
  }
}

.container {
  font-size: 1.125rem;
}

.button {
  background-color: transparent;
  padding: 5px 10px;
  margin-right: 10px;
}

.button.selected {
  color: white;
  background-color: black;
}

.question-container {
  padding: 20px 10px;
  border: 1px solid black;
  text-align: center;
}
