.root {
  .container {
    // padding-left: 15px;
    // padding-right: 15px;
    padding-bottom: 2em;
    margin: auto;
    max-width: 850px;
  }
  .heading {
    text-align: left;
    margin-bottom: 1.5em;
  }
  .display-none {
    display: none;
  }
}

.question-container {
  padding: 20px 10px;
  border: 1px solid black;
  text-align: center;
}
