.root {
  text-align: left;
  position: relative;
  

  .you-said {
    .text {
      font-family: ABCSans, sans-serif;
    }
  }

  .mid-bar {
    height: 2px;
    background-color: #d8d8d8;
  }

  .your-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    background-color: black;
    border-radius: 50%;
    transition: left 0.75s;
  }
}
