.root {
  text-align: left;
  transition: all 1s ease-in-out;
  color: #1B1A65;

  .key {
    font-family: ABCSans, sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    color: #757575;
    font-weight: 900;
    font-size: 11px;
    letter-spacing: 0.08em;

    span {
      min-width: 110px;
    }

    .mid {
      text-align: center;
    }

    .right {
      text-align: right;
    }
  }

  .line-container {
    position: relative;

    .text {
      position: relative;
      font-family: ABCSans, sans-serif;
      display: inline-block;
      transform: translateX(-50%);
      color: #0081AE;
      font-weight: bold;
    }
  }

  .line {
    position: relative;
    margin-top: 0.6em;
    margin-bottom: 1.5em;
  }

  .mid-bar {
    height: 2px;
    background-color: #d8d8d8;
  }

  .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    background-color: #0081ae;
    border-radius: 50%;
  }

  .your-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    background-color: black;
    border-radius: 50%;
    // transition: left 0.75s;
  }
}
