.root {
  // text-align: left;
  // padding-bottom: 2em;
  margin: auto;
  max-width: 850px;

  // p {
  //   margin-bottom: 1em;
  // }

  h2 {
    font-family: ABCSerif, serif;
    font-size: 16px;
    // text-transform: uppercase;
    color: #4a4a4a;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.666666667;
    margin-top: 0;
    margin-bottom: 2.25rem;
  }

  $bg: black;
  $fg: lighten($bg, 20%);
  $borderWidth: 1px;

  input[type="radio"] {
    position: absolute;
    visibility: hidden;
    display: none;
  }

  label {
    font-family: ABCSans, sans-serif;
    font-size: 12px;
    color: #096180;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 11px 15px 10px;
    text-transform: uppercase;
    border: solid 1px #0081ae;
    border-radius: 0px;
    margin-right: 8px;
    // margin-bottom: 4px;
    text-align: center;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

    flex: 1;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 1px;
    background-color: white;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08),
      0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  }

  label:last-child {
    margin-right: 0;
  }

  input[type="radio"]:checked + label {
    color: white;
    background: black;
    border: 1px solid black;
  }

  // label + input[type="radio"] + label {
  //   // border-left: solid $borderWidth $fg;
  //   margin-left: 4px
  // }

  .radio-group {
    border: solid $borderWidth $fg;
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
  }

  .title {
    margin-bottom: 1em;
  }

  .choices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }
  .dont-know {
    margin-left: 6px;
    border-color: #737373;
    color: black;
    background-color: #f2f2f2;
  }
}
